<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Home</title>
</head>
<body>
    <div class="main">
        <div class="container-wrapper">
            <div class="header">
                <div class="border-img">
                    <img src="assets/icon.png" alt="user-icon">
                </div>
                <div class="container-text">
                    <p>Olá, seja bem vindo</p>
                    <h1>João vitor silva ramos</h1>
                </div>
            </div>
            <div class="container-codig">
                <h1>Seu código de empresa:</h1>
                <p>123123</p>
            </div>
        </div>

        <button>Deslogar</button>
    </div>
</body>
</html>