<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <title>Register</title>
</head>
<body>
    <main>
        <div class="container-wrapper">
            <div class="container-img">
                <div class="img-border">
                    <img src="../assets/icon.png" alt="img-user">
                </div>
            </div>
            <div class="container-form">

            </div>
        </div>
    </main>
</body>
</html>